<h1>Listing Publishers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>PublisherID</th>
      <th>Books published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
          <td><%= publisher.name %></td>
          <td><%= publisher.publisher_id %></td>
          <% publisher.books.find_each do |book| %>
            <td><%= link_to book.title, book %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
